* {
  box-sizing: border-box;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.top {
  height: 50px;
  display: inline-block;
  background-color: #fc8274;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

#top-left {
  width: 33%;
}

#top-center {
  width: 33%;
}

#top-right {
  width: 33%;
}

.top:hover {
  background-color: #ffff80;
}

div.image {
  clear: both;
  content:url(http://i61.photobucket.com/albums/h56/cececlar/luna_zpsjt14rqpj.jpg);
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.header {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#tripod-designs {
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: auto;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

#blurb {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}

.divider {
  clear: both;
  height: 50px;
  width: 100%;
  background-color: #fc8274;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 2%;
  font-size: 16px;
}

.bio {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#bio-divider {
  margin-top: 10%;
}

#bio-pic {
  content:url(https://lh3.googleusercontent.com/-yzFKF6q2VDM/AAAAAAAAAAI/AAAAAAAAAg8/qNzYN9CyINw/s640/photo.jpg);
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-top: 5px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  margin-bottom: 2%;
}

#bio-blurb {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0px 10px;
  text-align: justify;
  height: 400px;
  width: 400px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  margin-bottom: 2%;
  overflow: overlay;
}

.portfolio {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image-cropper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.image-cropper img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.contact {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-icon-cropper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
}

.contact-icon-cropper img {
    height: 65%;
    width: 65%;
    text-align: center;
    margin-top: 5px;
}

.contact-icon-cropper p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0;
}

.contact-icon-cropper a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  color: black;
}

a:hover {
  color: #ffff80;
}

.top a {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}
